doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="description", content="ROMBAM is where Romney and Obama's biggest fans duke it out.  Come see what everyone has to say!")
		meta(property="og:title", content="OBAMA | ROMNEY")
		meta(property="og:type", content="politician")
		meta(property="og:url", content="http://rombam.com")
		meta(property="og:image", content="http://rombam.com/images/obama.png")
		meta(property="og:site_name", content="RomBam")
		meta(property="fb:admins", content="1595820103")
		block scripts
	body
block content